<!DOCTYPE html>
<html>
{% include 'navigation.html' %}

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <!--<img src="/w3images/team1.jpg" alt="Jane" style="width:100%">-->
      <div class="container">
        <h2 style="text-align:center">Natisha Mallick</h>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
     <!-- <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">-->
      <div class="container">
        <h2 style="text-align:center">Muhammad Abdullah</h2>
      </div>
    </div>
  </div>
</div>
</html>
